<div class="perfil">
  <div class="box-perfil">
    {{#if displayName}}
      <img class="avatar" src="{{avatar}}" alt="">
    {{/if}}
    <div class="perfil-data">
      {{#if displayName}}
      <div class="name-elo">
        <span>{{displayName}}</span>
        <span style="color: brown;"><span style="color: grey">[</span>{{elo}}<span style="color: grey">]</span></span>
      </div>
      <div class="line"></div>
      <div>
        <a href="{{profileurl}}" target="_blank">Steam</a> |
        <a href="/logout">Logout</a>
      </div>
      {{else}}
        <div>
          <a href="/auth/steam"><img class="steam-login" src="./image/steam.png"></a>
        </div>
      {{/if}}
    </div>
  </div>
</div>

